.background-color {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-background {
  background-color: #f8fafc;
  height: 50vh;
  width: 70vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #323f4b;
  font-size: 40px;
  font-family: 'Roboto';
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.para {
  color: #000000;
  font-size: 20px;
  font-family: 'Roboto';
  padding-left: 20px;
}

.select-Element {
  border-style: solid;
  border-color: #cbd2d9;
  border-width: 1px;
  border-radius: 5px;
  width: 200px;
  font-size: 20px;
  color: #000000;
  padding-left: 20px;
}

.option-Element {
  color: #000000;
  font-size: 20px;
  padding-left: 20px;
}

.para2 {
  color: #000000;
  font-size: 20px;
  font-family: 'Roboto';
  padding-left: 20px;
}
